
#white-container-emojs{
width: 860px;
background-color: #fff;
margin-left: 35px;
margin-top: 30px;
}
.white-container-advertisments{
width: 860px;
background-color: #fff;
margin-left: -50px;
z-index:1000000;
}
.update-ad-button{
width:150px !important;
margin-left: 685px !important;
}

